
*{
    margin: 0px;
    padding: 0px;
}
/* navigation ber code suru ekhan tkheke  */
#nav-ber{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background:linear-gradient(rgba(53, 241, 6, 0.637), rgba(27, 6, 6, 0.719), rgba(250, 4, 4, 0.603));
}
.logo>h2{
    margin-left:30px;
    color: antiquewhite;
}
.nave{
    margin-right: 35px;
    display: flex;
}
.nave>li{
    list-style: none;
    padding: 7px 10px;
    border-right: 2px solid black;
    transition: 0.5s;
    
}
.nave>li:first-child{
    border-left: 2px solid black;
    
}
.nave>li:hover{
    background-color: aqua;
}
.nave>li>a{
    text-decoration: none;
    font-size: 20px;
    color: rgb(253, 255, 244);   
}
/* dropdown mebu code suru ekhan tkheke */
.dorpdown-menu{
    margin-top:8px;
    position: absolute;
    background-color: aquamarine;
    width:90px;
    text-align: center;
    margin-left: -10px;
    opacity: 0;
    visibility: hidden;
    transition:0.5s;
    transform:scaley(0);
    transform-origin: top center;
    box-shadow: 0px 0px 25px rgb(0, 0, 0);
}
.dorpdown-menu>li{
    list-style: none;
    padding: 10px 8px;
    border-bottom: 2px solid black;
    transition: 0.5s;
}
.dorpdown-menu>li:hover{
    background-color: chocolate;
}
.dorpdown-menu>li:first-child{
    border-top: 2px solid black;
}
.dorpdown-menu>li>a{
    text-decoration: none;
}
.nave>li:hover .dorpdown-menu{
    opacity: 1;
    visibility: visible;
    transform: scaley(1);
}

/* main -areya and hero areya code suru ekhan tkheke */
#main-area{
    padding-top:50px;
    background-image:linear-gradient(rgba(77, 74, 255, 0.829),rgba(0, 0, 0, 0.815)), url(img/hq720.jpg);
    background-repeat: no-repeat;
    background-position:center;
    background-size: cover;
    height:86vh;
    text-align: center;
}
#hed-line>h1{
    color: aliceblue;
    margin-bottom: 20px;
    text-shadow: 2px 3px 2px red;
    font-style: italic;
}
#hed-line>h1::first-letter{
    font-size:50px;
}
#hed-line>h3{
    color: rgb(255, 124, 76);
    font-style:italic;
    text-shadow: 3px 2px 2px lawngreen;
}
#hed-line>h4{
    margin-top:130px ;
    padding-left:70px;
    color: aliceblue;
    line-height:30px;
    font-size:20px;
    text-shadow:3px 3px 3px rgba(250, 21, 21, 0.856);
}


/* icon code suru ekhan theke */
#icon>a{
    color: aliceblue;
    text-decoration: none;
}
#icon>a>i{
    font-size:30px;
    background-color: aqua;
    margin:40px 15px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    line-height:1.7;
    border:3px solid rgb(250, 250, 246);
    transition:0.5s;
}
#icon>a>i:hover{
    background-color: chocolate;
    transform: rotate(360deg);
    border: 3px solid black;
}

/* section one code suru ekhan tkheke */
/* #one-section-men{
    background:linear-gradient(rgba(211, 228, 185, 0.678), rgba(34, 223, 128, 0.555), rgba(39, 4, 4, 0.651));
} */
#section-one{
    padding: 100px 20px;
    width:80%;
    margin: auto;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: space-between;
   
}
#section-one>.one{
    width: 270px;
    height: 190px;
    transition: 0.5s;

}
#section-one>.one:hover{
    box-shadow: 0px 0px 15px black;
}
#section-one>.one>i{
    font-size:35px;
    color: brown;
    padding-top: 10px;
    text-shadow: 3px 4px 4px black;
}
#section-one>.one>h2{
    padding: 10px 0px;
    color: aqua;
    text-shadow: 2px 2px 3px red;
}

/* sedent code suru ekhan theke */
#content{
    width:180px;
    margin: auto;
    position: relative;
}
#content>h2{
    text-align: center;
    font-size:30px;
    position: relative;
    margin-top:35px;
}
#content>h2::after{
    content:"";
    top: 50px;
    left:29px;
    width:120px;
    height:4px;
    background-color: red;
    position: absolute;
}
#photo-text{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width:1000px;
    margin:60px auto;
}

.text>h2{
    color: red;
    margin:10px 0px;
}
.text>h3{
    padding:15px 0px;
    font-size: 20px;
}
.text>a{
    margin:20px 0px;
    text-decoration: none;
    color: honeydew;
    padding: 7px 10px;
    display: inline-block;
    border-radius:5px;
    background-color: rgb(14, 36, 240);
    transition: 0.5s;
    font-size: 15px;
}
.text>a:hover{
    background-color: chocolate;
    cursor: pointer;
    color: black;
}

/* Third section code suru ekhan theke  */
#all-text{
    width:80%;
    margin: auto;
}
#areya-tex{
    text-align: center;
}
#areya-tex>h2{
    font-size:28px;
    padding:10px 0px;
}

#servise-prent{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap:25px;
    padding:50px 0px;
}
.servise-text{
    text-align: center;
    background-color: rgb(195, 199, 184);
    padding: 15px 0px ;
    transition: 0.5s;
}
.servise-text:hover{
    background-color: rgba(220, 20, 60, 0.103);
    box-shadow: 0px 0px 15px rgba(10, 3, 7, 0.781);
}
.servise-text>h3{
    padding: 12px 0px;
    text-shadow: 2px 3px 2px rgba(248, 16, 16, 0.623);
}
.servise-text>i{
    font-size: 35px;
    color: rgb(79, 189, 6);
    text-shadow: 2px 3px 3px red;
}

/* for section code suru ekhan tkheke */
.header-text>h2{
    text-align: center;
    padding: 20px 0px;
    font-size:40px;
    margin: 40px 0px;
    text-shadow: 2px 3px 2px lawngreen;
}
#mul-div-pernt{
    width: 850px;
    display: flex;
    justify-content: space-between;
    margin: 20px auto;
    padding-bottom:50px;
}
.div-photo-text-logo> .photo-div{
    width: 250px;
}
.div-photo-text-logo> .photo-div>img{
    max-width: 100%;
}
.div-photo-text-logo{
    width: 250px;
    text-align: center;
    padding-bottom:10px;
    box-shadow:5px 6px 15px black;
    background-color: rgba(250, 155, 39, 0.548);
}
.div-photo-text-logo>h2{
    padding: 15px 0px ;
    font-size:28px;
    text-shadow: 2px 3px 2px red;
}
.text-taka{
    padding:7px 0px;
    border-top: 1px dashed black;
    border-bottom: 1px dashed black;
    margin: 15px 9px;

}
.div-photo-text-logo> .text-taka> .taka-one{
    font-size:22px;
    padding: 0px 7px;
    font-weight:bold;
}
.div-photo-text-logo> .text-taka> .praij{
    color: rgba(0, 0, 0, 0.678);
    font-style: italic;
}
.div-photo-text-logo > .bu{
    padding: 5px 25px;
    border-radius: 6px;
    background-color: coral;
    transition: 0.5s;
    margin: 10px 0px;
}
.div-photo-text-logo> .bu:hover{
    background-color: rgba(212, 173, 14, 0.918);
    color: black;
}
.div-photo-text-logo> a{
    text-decoration: none;
    display: inline-block;
    margin: 10px;
}


/* five section code suru ekhan tkhe */
#five-code-section{
    background-color: antiquewhite;
}
.text-litel{
    text-align: center;
    padding: 40px 0px;
}
.text-litel>h2{   
    font-size: 30px;
    padding:10px 0px;
}
.text-litel>h4{
    font-size:15px;
    letter-spacing:0.4em;
    font-style: italic;
    color: rgba(0, 0, 0, 0.685);
}
.mul-prent-div{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap:20px;
    width: 900px;
    padding: 10px 30px;
    margin: auto;
    padding-bottom:60px;
}
.text-img> .img-photo{
    width:200px;
    border-radius: 50%;
    margin-right: 20px;
}
.text-img> .img-photo >img{
    max-width: 100%;
    border-radius: 50%;
    border: 1px solid red;
}

.text-img{
   display:flex;
   align-items: center;
   background-color:rgb(255, 255, 255);
   padding: 20px 11px;
}
.text-img> .text-span-p > .text-head{
    font-size: 22px;
    padding-bottom: 10px;
    display: inline-block;
}
.text-img> .text-span-p> .text-span{
    color: rgba(0, 0, 0, 0.808);
}
.text-img> .text-span-p> .icon{
    color: rgb(255, 143, 15);
    margin-top: 10px;
}

/* six code suru ekhan tkheke */
.sixe-section-ba{
    background-image: url(img/pepe.webp);
    background-position:center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
.mul-div-six{
    width: 900px;
    display: flex;
    justify-content: space-between;
    margin: auto;
    padding:30px 0px;
    text-align: center;
    color: #fdfdfd;
    text-shadow: 2px 2px 3px red;
}
.mul-div-six> .div-s>i{
    font-size: 35px;
}
.mul-div-six> .div-s> h2{
    margin: 16px 0px;
}

/* seven-code suru ekhan tkheke */
.mul-prent-seven{
   
    background-color: rgba(255, 127, 80, 0.24);
}
.six-prent-div{
    width: 900px;
    display: grid;
    grid-template-columns:repeat(3,1fr);
    grid-gap: 15px;
    margin: auto;
    text-align: center;
    padding-bottom:50px;
}
.img-div> img{
    max-width: 100%;
    height: 250px;
    transition: 0.5s;
    filter: brightness(90%);
}
.img-div:hover img{
    transform:scale(1.9);
}
.img-div{
    position: relative;
    overflow: hidden;
}
.img-div:hover .icon-p{
    opacity: 1;
    visibility: visible;
    background-color: rgba(0, 0, 0, 0.699);
}
.img-div>.icon-p >i{
    font-size: 35px;
    margin-bottom:15px;
}
.icon-p{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    display: grid;
    place-content: center;
    color: wheat;
    opacity: 0;
    visibility: hidden;
    transition: 0.5s;
    font-size: 20px;
    text-shadow: 2px 3px 2px rgba(255, 0, 0, 0.664);
}
.tex-p>h2{
    margin-bottom: 10px;
    font-style: italic;
}
.tex-p>p{
    color: rgba(0, 0, 0, 0.822);
    letter-spacing: 0.3em;
    font-style: italic;
}

/* sevend -code suru ekhan theke */
.seven-code-suru{
    width:900px;
    margin: auto;
    padding-bottom: 80px;

}
.form-div-prent{
    background-color: rgb(211, 149, 73);
    display: flex;
}

.full-emil-prent-div{
    display: flex;
}
.full-emil-prent-div input{
    width:170px;
    height:25px;
    margin: 0px 20px;
    border: none;
    padding: 0px 10px;
}
.full-emil-prent-div h3{
    margin: 20px 10px 10px 20px;
}
.form-tag{
    width: 500px;
}
.subject-input{
    width: 400px;
    height: 25px;
    padding: 0px 10px;
    margin: 0px 30px;
}
.inpute-subject-text{
    margin:20px  10px 10px 5px;
    border: none;
    padding: 0px 20px;
}
.textarea-tag{
    margin: 0px  10px 10px 25px;
    width: 400px;
    height:100px;
    border: none;
    padding:9px 20px;
}
.button-tag{
    padding: 9px 6px;
    margin: 10px 25px;
    border-radius: 5px;
    border: none;
    background-color: rgba(74, 247, 117, 0.5);
    transition: 0.5s;
}
.button-tag:hover{
    background-color: rgba(250, 60, 98, 0.664);
}
.i-con-div{
    display: flex;
    justify-content: space-between;
    text-align: center;
    margin-top: 20px;
    padding: 25px 20px;
}
.i-con-div> .i-con-tex>i{
    font-size:20px;
    background-color: rgb(9, 156, 214);
    padding: 15px;
    border-radius: 50%;
    margin-bottom: 20px;
    color: wheat;
}
.i-con-div> .i-con-tex>p> .s{
    font-weight: bold;
    font-size: 15px;

}

/* footer sectioin code suru ekhan tkhe */
footer{
    background-color: #023364;
    color: rgb(180, 138, 138);
}
.footer-main-aliya{
    width: 900px;
    margin: auto;
 
}
.footer-div-prent{
    display:flex;
    justify-content: space-between;
}
.footer-div-prent> .footer-div-tex-i{
    width: 200px;
    overflow:hidden;

}
.footer-div-prent> .footer-div-tex-i> h3{
    margin: 50px 0px 15px;
    color: wheat;
}
.footer-div-prent> .footer-div-tex-i> .text-footer{
    margin-bottom:20px;
}
.footer-div-prent> .footer-div-tex-i> .footer-text-two{
    margin: 10px 0px;

}
.footer-div-prent> .footer-div-tex-i i{
    color: wheat;
}
.footer-div-prent .footer-div-tex-i:nth-child(2) p{
    margin:10px 0px;
}
.footer-div-prent .footer-div-tex-i:nth-child(3) p{
    margin: 10px 0px;
}
.footer-div-prent .footer-div-tex-i:nth-child(4) p{
    margin:15px 0px;
}
.footer-div-prent .footer-div-tex-i:nth-child(4) a{
    text-decoration: none;
    color: brown;
}


.footer-contact-prent>ul{
    display: flex;
    justify-content: center;

}
.footer-contact-prent> ul>li{
    list-style: none;
    margin: 10px 30px;
}
.footer-contact-prent>ul>li> a{
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    color: rgb(167, 165, 165);
}
.footer-contact-prent p{
    text-align: center;
    padding-bottom:60px;
}
.footer-contact-prent .html-css{
    color: red;
}
hr{
    margin-top: 40px;
}
marquee{
    /* background-color: aquamarine; */
    height:20px;
    margin-bottom:40px;
    color: wheat;
    font-size: 20px;
    letter-spacing: 0.5em;
    text-shadow: 2px 2px 3px rgba(255, 26, 26, 0.89);
}